<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowpineapple.wakup.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:largeHeap="true">
        <activity
            android:name=".activities.OffersActivity"
            android:label="@string/wk_activity_offers"
            android:theme="@style/WakupTheme.Root" />
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/wk_activity_offers"
            android:theme="@style/WakupTheme.Root" />
        <activity
            android:name=".activities.OfferDetailActivity"
            android:label="@string/wk_activity_offer_detail"
            android:theme="@style/WakupTheme.ActionBarOverlay"/>
        <activity
            android:name=".activities.SavedOffersActivity"
            android:label="@string/wk_activity_my_offers"
            android:theme="@style/WakupTheme.ActionBarOverlay"/>
        <activity
            android:name=".activities.ModalTextActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WakupTheme.Dialog"/>
        <activity
            android:name=".activities.OfferCouponsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WakupTheme.Dialog"/>
        <activity
            android:name=".activities.OfferMapActivity"
            android:label="@string/wk_activity_map"
            android:theme="@style/WakupTheme"/>
        <activity
            android:name=".activities.StoreOffersActivity"
            android:label="@string/wk_activity_store_offers"
            android:theme="@style/WakupTheme.ActionBarOverlay"/>
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/wk_empty"
            android:theme="@style/WakupTheme"/>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/wk_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/WakupTheme"/>
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/wk_activity_search_result"
            android:screenOrientation="portrait"
            android:theme="@style/WakupTheme.ActionBarOverlay"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>